@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter, :host .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line, :host .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection, :host .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide, :host .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide, :host .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character, :host .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .marker .region, :host .search-results .marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region, :host .search-results .marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor, :host(.is-focused) .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region, :host(.is-focused) .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line, :host(.is-focused) .line-number.cursor-line-no-selection, :host(.is-focused) .line.cursor-line {
  background-color: rgba(240, 240, 240,.5);
}


.comment {
  color: #bababa;
}

.string, .string .constant.character.escape {
  color: @dark-blue;
}

.constant.numeric {
  color: @teal;
}

.constant.language {
  color: @teal;
}

.constant.character, .constant.other.rgb-value {
  color: @teal;
}

.constant.numeric.line-number.find-in-files, .constant.numeric.line-number.match.find-in-files {
  color: #abb0b3;
}

.entity.other.attribute-name.id.css .punctuation.definition.entity.css {}

.entity.name.class {
  color: @teal;
}

.entity.other.inherited-class {
  color: @teal;
}

// to make the = in html tags all the same
.meta.tag.any.html, .meta.tag.block.any.html {
  color: #abb0b3;
}

.entity.name.tag {
  color: @green;
}

.entity.name.function {
  color: @purple;
}


.entity.other.attribute-name,
.entity.other.attribute-name .punctuation.definition.entity.scss,
.entity.other.attribute-name.id.css,
.entity.other.attribute-name.id.css .punctuation.definition.entity.css,
.entity.other.attribute-name.class.css .punctuation.definition.entity.css  {
  color: @purple;
}

.punctuation.definition.tag.begin.html, .punctuation.definition.tag.end.html, .punctuation.definition.tag.html,  .meta.tag.block.any.html {
  color: #b3b3b3
}


.keyword.control {
  color: @orange;
}

.keyword.operator {
  color: @burgundy;
}

.storage {
  color: @burgundy;
}

.storage.type {
  color: @burgundy;
  &.function {
    font-weight: bold;
  }
}

.support.function {
  color: @teal;
}

.support.constant {
  color: @teal;
}

.support.type, .support.class, .meta.property-name.scss {
  color: @teal;
}

.support.other.variable {
  color: @text;
}

.invalid, .invalid.illegal {
  color: #f8f8f8;
  background-color: @red;
}

.invalid.deprecated {
  color: @red;
  background-color: #ffffff;
}

.entity.name.filename.find-in-files {
  color: @text;
}

.source.css .punctuation.definition.entity, .punctuation.terminator.rule.scss {
  color: @text;
}

.source.css .entity.other.attribute-name.pseudo-class, .source.css .entity.other.attribute-name.pseudo-element {
  color: @burgundy;
}

.source.css .meta.value, .source.css .support.constant, .source.css .support.function {
  color: @green;
}


.source.scss .entity.other.attribute-name.pseudo-class, .source.scss .entity.other.attribute-name.pseudo-element {
  color: @burgundy;
}

.support.constant.property-value, .source.scss .support.function, .meta.property-value.scss {
  color: @green;
}

.variable, .source.scss .variable, .variable.interpolation.scss, .source.scss .meta.set.variable  {
  color: @pink;
}

.keyword.control.else.scss, .keyword.control.if.scss, .keyword.control.content.scss {
  color: @green;
}
.keyword.other.unit {
  color: @burgundy;
}
.keyword.other.important {
  color: #eb4535;
}

.entity.name.tag.reference.scss {
  color: @gold;
}

.entity.name.type.new.js {
  color: @purple;
}


.variable.language.this.js {
  color: @orange;
}
.variable.parameter.function {
  color: @gold;
}

.source.js .meta.function .entity.name.function, .source.js .entity.name.function .meta.function {
  color: @purple;
}

.source.php .entity.name.type.class {
  color: @orange;
}

.punctuation.definition.heading.markdown, .punctuation.definition.italic.markdown, .punctuation.definition.bold.markdown, .punctuation.definition.string.begin.markdown, .punctuation.definition.string.end.markdown, .punctuation.definition.metadata.markdown, .punctuation.definition.link.markdown, .punctuation.definition.blockquote.markdown, .punctuation.definition.raw.markdown {
  color: @burgundy;
}

.punctuation.section.function.scss {
  color: @green
}


.meta.tag.template.angular {
  color: @light-blue;
}
.meta.tag.template.angular .punctuation.definition.block.begin.angular, .meta.tag.template.angular .punctuation.definition.block.end.angular {
  color: @yellow;
}




.text.html.markdown .meta.separator {
  color: #b3b3b3;
}

.text.html.markdown .markup.heading {
}

.text.html.markdown .markup.raw.block {
  color: @text;
}

.text.html.markdown .markup.raw.inline {
  color: @text;
}

.text.html.markdown .meta.link, .text.html.markdown .meta.image {
  color: #4183c4;
}

.text.html.markdown .markup.underline.link, .text.html.markdown .constant.other.reference {
  font-style: italic;
}

.text.html.markdown .markup.list {
  color: @orange;
}

.text.html.markdown .markup.bold {
  font-weight: bold;
}

.text.html.markdown .markup.italic {
  font-style: italic;
}

.text.html.markdown .markup.bold .markup.italic {
  font-weight: bold;
  font-style: italic;
}

.text.html.markdown .markup.italic .markup.bold {
  font-weight: bold;
  font-style: italic;
}

.string.quoted.double.html .invalid.illegal.bad-ampersand.html {
  color: @dark-blue;
  background-color: #ffffff;
}

.bracket-matcher .region {
    border: 1px solid rgba(223, 173, 54, 0.4);
    border-radius: 3px;
    background-color: rgba(255, 217, 0, 0.2);
    z-index: 100;
}
